#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
}
.card-box {
    padding: 10 10 10 10;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: white;
    border-radius: 10px;
}


.card-box img {
    max-width: 350px;
    max-height: 350px;
    border-radius: 5px;
}

.card-box h3 {
    color: blueviolet;
    align-items: center;
    font-size: 18px;
}
.card-box p {
    color: dimgray;
    font-size: 14px;
}
.card-box h2 {
    color: dimgray;
    font-size: 28px;
}